<div class="container">
    <h1>TEAM</h1>
    <hr class="line1">
    <div class="card-container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <img src="/assets/images/others/team/team1.jpg" alt="" class="circular-image">
                    <h3>Dr. Dymphna Javier</h3>
                    <p>Project 1 Leader</p>
                    <hr class="line">
                    <p>University of the Philippines - Baguio</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="/assets/images/others/team/fa.webp" alt="" class="circular-image">
                    <h3>R.D. Fay Apil</h3>
                    <p>Regional Director / Project Staff Level III</p>
                    <hr class="line">
                    <p>MGB-CAR</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="/assets/images/others/team/project1/benigno.jpg" alt="" class="circular-image">
                    <h3>Benigno Cesar L. Espejo</h3>
                    <p>Chief Geologist / Project Staff Level II</p>
                    <hr class="line">
                    <p>MGB-CAR</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="/assets/images/others/team/project1/kelvin.jpg" alt="" class="circular-image">
                    <h3>Kelvin Carlo S. Gaerlan</h3>
                    <p>Supervising Geologist / Project Staff Level II</p>
                    <hr class="line">
                    <p>MGB-CAR</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="/assets/images/others/team/project1/jethro.jpg" alt="" class="circular-image">
                    <h3>Jethro C. Panganiban</h3>
                    <p>Geologist II / Project Staff Level II</p>
                    <hr class="line">
                    <p>MGB-CAR</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="/assets/images/others/team/project1/grail.jpg" alt="" class="circular-image">
                    <h3>Grail A. Baldas</h3>
                    <p>Science Research Specialist II</p>
                    <hr class="line">
                    <p>MGB-CAR</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="/assets/images/others/team/project1/frenz.jpg" alt="" class="circular-image">
                    <h3>Frenz Aivereen A. Flores</h3>
                    <p>Science Research Specialist I</p>
                    <hr class="line">
                    <p>MGB-CAR</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="/assets/images/others/team/project1/vince.jpg" alt="" class="circular-image">
                    <h3>Vince Paolo F. Obille</h3>
                    <p>Project Technical Assistant II</p>
                    <hr class="line">
                    <p>MGB-CAR</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="/assets/images/others/team/project1/claire.jpg" alt="" class="circular-image">
                    <h3>Claire G. Ramirez</h3>
                    <p>Project Technical Assistant II</p>
                    <hr class="line">
                    <p>MGB-CAR</p>
                </div>
            </div>

        </div>
    </div>
</div>