<div class="container">
    <div class="row align-items-center ">
        <div class="col-lg-6 align-self-start" >
            <h1>PROJECT OVERVIEW</h1>
            <hr class="line">
            <p>Project CALaMI-T is a landslide mitigation researc and development for BLISTT. It aims to develop a
                landslide movement model toolbox that can predict landslides and provide information on the impact of
                rain-induced landslides on communities, infrastructure, and the environment.

                It is the Project 2 under the Program MULAT BLISTT: Modelling and Understanding LAndslide evenTs in
                Baguio-La Trinidad-Itogon-Sablan-Tuba-Tublay.</p>


        </div>
        <div class="col-lg-6">
            <div class="video">
                <iframe width="636" height="516" src="https://www.youtube.com/embed/sVPYIRF9RCQ"
                
                    title="THE SEED // Inspirational Short Film" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

        </div>

    </div>
</div>