<div class="goals-section">
  <h1 class="goals-title">PROJECT GOALS</h1>
  <hr class="line">
  <div class="goals-cards">
    <div class="card">
      <div class="icon-container">
        <i class="feather icon-file-text icon-lg"></i>
      </div>
      <h3>Soil Moisture Threshold</h3>
      <p>Determine soil moisture threshold values and other parameters for landslide.</p>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="feather icon-package icon-lg"></i>
      </div>
      <h3>Landslide Movement Model Toolbox Software</h3>
      <p>Develop or adopt a suitable landslide movement model toolbox software.</p>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="feather icon-cloud-rain icon-lg"></i>
      </div>
      <h3>Landslide Management Information System</h3>
      <p>Develop and testing of a landslide management information system.</p>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="feather icon-smartphone icon-lg"></i>
      </div>
      <h3>Mobile Application for Landslide</h3>
      <p>Develop a mobile application for landslide warning and awareness, reporting and routing to evacuation areas or safe spots.</p>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="feather icon-alert-octagon icon-lg"></i>
      </div>
      <h3>Early Warning System</h3>
      <p>Develop a Web and SMS based early warning system with DRRMO Operation Center Dashboard.</p>
    </div>
  </div>
</div>