<ng-container>
  <link
    href="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css"
    rel="stylesheet"
  />
  <div class="mb-3 form-check form-switch mb-2">
    <input
      type="checkbox"
      class="form-check-input"
      id="formSwitch1"
      [(ngModel)]="isObservation"
      (ngModelChange)="onObsevationChange($event)"
    />
    <label class="form-check-label" for="formSwitch1">Observation Period</label>
  </div>

  <div
    class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
  >
    <div class="d-flex flex-column">
      <div class="d-flex">
        <div ngbDropdown>
          <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
            {{ selectedSensor.title }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              ngbDropdownItem
              *ngFor="let item of sensors"
              (click)="onSelectSite(item)"
            >
              {{ item.title }}
            </button>
          </div>
        </div>
        <div ngbDropdown *ngIf="!isObservation">
          <button
            class="btn btn-secondary ms-2"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            {{ selectedPeriod.name }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              ngbDropdownItem
              *ngFor="let item of period"
              (click)="onSelectPeriod(item)"
            >
              {{ item.name }}
            </button>
          </div>
        </div>
        <div ngbDropdown *ngIf="isObservation">
          <button
            class="btn btn-secondary ms-2"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            {{ selectedObservation.name }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              ngbDropdownItem
              *ngFor="let item of observationPeriod"
              (click)="onSelectObservation(item)"
            >
              {{ item.name }}
            </button>
          </div>
        </div>
      </div>

      <form
        class="d-flex range-selection mt-2"
        *ngIf="selectedPeriod.value === 4"
      >
        <div class="form-group hidden">
          <div class="input-group">
            <input
              name="datepicker"
              class="form-control"
              ngbDatepicker
              #datepicker="ngbDatepicker"
              [autoClose]="'outside'"
              (dateSelect)="onDateSelection($event)"
              [displayMonths]="2"
              [dayTemplate]="t"
              outsideDays="hidden"
              [startDate]="fromDate!"
            />
            <ng-template #t let-date let-focused="focused">
              <span
                class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null"
              >
                {{ date.day }}
              </span>
            </ng-template>
          </div>
        </div>
        <div>
          <div class="input-group" (click)="datepicker.toggle()">
            <input
              #dpFromDate
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dpFromDate"
              [value]="formatter.format(fromDate)"
              (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
            />
            <button class="input-group-text" type="button">
              <i class="feather icon-calendar icon-md text-muted"></i>
            </button>
          </div>
        </div>
        <div class="ms-2">
          <div class="input-group" (click)="datepicker.toggle()">
            <input
              #dpToDate
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dpToDate"
              [value]="formatter.format(toDate)"
              (input)="toDate = validateInput(toDate, dpToDate.value)"
            />
            <button class="input-group-text" type="button">
              <i class="feather icon-calendar icon-md text-muted"></i>
            </button>
          </div>
        </div>
      </form>
      <!-- <button
        type="button"
        class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0"
      >
        <i
          class="btn-icon-prepend"
          data-feather="download-cloud"
          appFeatherIcon
        ></i>
        Download Report
      </button> -->
    </div>
    <div>
      <button
        *ngIf="userDetails.role == 'LGA'"
        type="button"
        class="btn btn-danger"
        style="background-color: red"
        (click)="triggerAlert(landSlideAlertLevel)"
        [disabled]="landSlideAlertLevel == 'LA-0'"
      >
        Evacuation Recommendation
      </button>
      <button
        *ngIf="userDetails.username == 'lmis-mayor'"
        type="button"
        class="btn btn-danger"
        style="background-color: red"
        (click)="triggerAlert(landSlideAlertLevel)"
        [disabled]="landSlideAlertLevel == 'LA-0'"
      >
        Evacuation Notification
      </button>
    </div>
  </div>
  <div class="row mb-3" *ngIf="selectedPeriod.value === 4">
    <h4>{{ from | date : "MMM d, y" }} - {{ until | date : "MMM d, y" }}</h4>
  </div>
  <div class="row">
    <div class="col-12 col-xl-12 stretch-card">
      <div class="row flex-grow-1">
        <div class="col-md-3 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Accumulated Rainfall</h6>
              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="my-2">
                    {{ rainfallPeriodTotal }}
                    mm
                  </h3>
                  <div
                    class="alert"
                    [ngClass]="{
                      green: rainFallAlertLevel == 'RA-0',
                      yellow: rainFallAlertLevel == 'RA-1',
                      orange: rainFallAlertLevel == 'RA-2',
                      red: rainFallAlertLevel == 'RA-3'
                    }"
                    *ngIf="isObservation"
                  >
                    <p>
                      <i
                        data-feather="alert-octagon"
                        appFeatherIcon
                        class="icon-sm mb-1"
                      ></i>
                      <span class="fw-bold">{{ rainFallAlertLevel }}</span>
                    </p>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-xl-7">
                  <div class="mt-md-3 mt-xl-0">
                    <!-- <apx-chart
                      [series]="rainfallChartOptions.series"
                      [chart]="rainfallChartOptions.chart"
                      [colors]="rainfallChartOptions.colors"
                      [grid]="rainfallChartOptions.grid"
                      [xaxis]="rainfallChartOptions.xaxis"
                      [yaxis]="rainfallChartOptions.yaxis"
                      [markers]="rainfallChartOptions.markers"
                      [legend]="rainfallChartOptions.legend"
                      [stroke]="rainfallChartOptions.stroke"
                    ></apx-chart> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Soil Moisture</h6>
              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="my-2">{{ calculatedSoilMoisture }}%</h3>
                  <div
                    class="alert"
                    [ngClass]="{
                      green: soilMoistureAlertLevel == 'S-0',
                      yellow: soilMoistureAlertLevel == 'S-1',
                      orange: soilMoistureAlertLevel == 'S-2',
                      red: soilMoistureAlertLevel == 'S-3'
                    }"
                    *ngIf="selectedSensor.value !== 0"
                  >
                    <p>
                      <i
                        data-feather="alert-octagon"
                        appFeatherIcon
                        class="icon-sm mb-1"
                      ></i>
                      <span class="fw-bold">{{ soilMoistureAlertLevel }}</span>
                    </p>
                  </div>
                </div>
                <!-- <div class="col-6 col-md-12 col-xl-7">
                  <div class="mt-md-3 mt-xl-0">
                    <apx-chart
                      [series]="customersChartOptions.series"
                      [chart]="customersChartOptions.chart"
                      [colors]="customersChartOptions.colors"
                      [xaxis]="customersChartOptions.xaxis"
                      [stroke]="customersChartOptions.stroke"
                      [markers]="customersChartOptions.markers"
                    ></apx-chart>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">24-hour Rainfall</h6>
              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="my-2">{{ rainfall24PeriodTotal }} mm</h3>
                  <div class="alert red" *ngIf="rainfall24PeriodTotal > 70">
                    <p>
                      <i
                        data-feather="alert-octagon"
                        appFeatherIcon
                        class="icon-sm mb-1"
                      ></i>
                      <!-- <span class="fw-bold">> 70mm</span> -->
                    </p>
                  </div>
                </div>
                <!-- <div class="col-6 col-md-12 col-xl-7">
                  <div class="mt-md-3 mt-xl-0">
                    <apx-chart
                      [series]="growthChartOptions.series"
                      [chart]="growthChartOptions.chart"
                      [colors]="growthChartOptions.colors"
                      [xaxis]="growthChartOptions.xaxis"
                      [stroke]="growthChartOptions.stroke"
                      [markers]="growthChartOptions.markers"
                    ></apx-chart>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
          <div
            class="card"
            [ngClass]="{
              green: landSlideAlertLevel == 'LA-0',
              yellow: landSlideAlertLevel == 'LA-1',
              orange: landSlideAlertLevel == 'LA-2',
              red: landSlideAlertLevel == 'LA-3'
            }"
          >
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Landslide Alert Level</h6>
              </div>
              <div class="row">
                <div class="col-12 col-md-12 col-xl-12">
                  <h3 class="my-2">{{ landSlideAlertLevel }}</h3>
                  <p>{{ getAlertDescription() }}</p>
                  <!-- <div class="d-flex align-items-baseline">
                    <p class="text-success">
                      <i
                        data-feather="alert-octagon"
                        appFeatherIcon
                        class="icon-sm mb-1"
                        style="color: green"
                      ></i>
                      <span class="fw-bold" style="color: green">SM-0</span>
                    </p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- row -->

  <div class="row">
    <div class="col-12 mb-3">
      <div id="map" class="match-parent" style="height: 400px"></div>
    </div>
  </div>

  <div
    class="row"
    *ngIf="selectedSensor.value == 0 && rainfallPeriodTotal !== 0"
  >
    <div class="col-xl-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Total Accumulated Rainfall</h6>

          <canvas
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [type]="barChartType"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row"
    *ngIf="selectedSensor.value == 0 && calculatedSoilMoisture !== 0"
  >
    <div class="col-xl-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Soil Moisture</h6>

          <canvas
            baseChart
            [data]="soilMoistureBarChartData"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [type]="barChartType"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row"
    *ngIf="selectedSensor.value !== 0 && rainfallRecording.length !== 0"
  >
    <div class="col-xl-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Accumulated Rainfall</h6>

          <canvas
            baseChart
            [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="lineChartType"
            [plugins]="lineChartPlugins"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div
    class="row"
    *ngIf="selectedSensor.value !== 0 && soilMoistureRecording.length !== 0"
  >
    <div class="col-xl-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Soil Moisture</h6>

          <canvas
            baseChart
            [data]="soilMoistureChartData"
            [options]="lineChartOptions"
            [type]="lineChartType"
            [plugins]="lineChartPlugins"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>


  <!-- row -->
</ng-container>
<ng-container *ngIf="isLoading">
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-container>

<ng-template #scrollableModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Landslide Alert Warning</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.close('by: close icon')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div
      class="d-flex text-center flex-column mb-3"
      style="border-radius: 10px; padding: 6px"
      [ngClass]="{
        green: landSlideAlertLevel == 'LA-0',
        yellow: landSlideAlertLevel == 'LA-1',
        orange: landSlideAlertLevel == 'LA-2',
        red: landSlideAlertLevel == 'LA-3'
      }"
    >
      <h5 class="fw-bold text-white">{{ selectedEpr?.title }}</h5>
      <p class="fw-bold">{{ selectedEpr?.description }}</p>
    </div>
    <p class="fw-bold">Landslide Alert level: {{ landSlideAlertLevel }}</p>
    <p>{{ getAlertDescription() }}</p>
    <div class="my-3">
      <label for="exampleFormControlSelect1" class="form-label"
        >Recommendation</label
      >
      <select
        class="form-select"
        id="exampleFormControlSelect1"
        [formControl]="recommendationControl"
      >
        <option value="" disabled>Select</option>
        <option *ngFor="let item of recommendations" [value]="item">
          {{ item }}
        </option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('by: close button')"
    >
      Close
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="submitRecommendation()"
    >
      Submit Recommendation
    </button>
  </div>
</ng-template>

<ng-template #mayorModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Submit Evacuation</h5>
    <button
      type="button"
      class="btn-close"
      (click)="modal.close('by: close icon')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="mb-3">
        <h4>DRRMO has recommended the following evacuation status:</h4>
        <div
          class="d-flex text-center flex-column my-3"
          style="border-radius: 10px; padding: 6px"
          [ngClass]="{
            green: landSlideAlertLevel == 'LA-0',
            yellow: landSlideAlertLevel == 'LA-1',
            orange: landSlideAlertLevel == 'LA-2',
            red: landSlideAlertLevel == 'LA-3'
          }"
        >
          <h5 class="fw-bold text-white">{{ evacuationLevel }}</h5>
          <h5 class="fw-bold mt-2">{{ evacuationStatus }}</h5>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Input your passcode to continue</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          autocomplete="off"
          placeholder="Password"
          [formControl]="mayorPassword"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.close('by: close button')"
    >
      Close
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="mayorSubmit()"
      [disabled]="submitting"
    >
      {{ submitting ? "Submitting..." : "Submit" }}
    </button>
  </div>
</ng-template>
