<ng-container *ngIf="!isLoading">
  <div
    class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
  >
    <div>
      <h4 class="mb-3 mb-md-0">Welcome to Dashboard</h4>
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
      <div ngbDropdown class="me-2">
        <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
          {{ selectedSensor.title }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            ngbDropdownItem
            *ngFor="let item of sensors"
            (click)="onSelectPeriod(item)"
          >
            {{ item.title }}
          </button>
        </div>
      </div>
      <div class="input-group wd-200 me-2 mb-2 mb-md-0">
        <button
          class="btn btn-outline-primary btn-icon calendar"
          type="button"
          (click)="d.toggle()"
        >
          <i data-feather="calendar" appFeatherIcon></i>
        </button>
        <input
          class="form-control border-primary bg-transparent"
          placeholder="yyyy-mm-dd"
          name="dp"
          [(ngModel)]="currentDate"
          ngbDatepicker
          #d="ngbDatepicker"
        />
      </div>
      <!-- <button
      type="button"
      class="btn btn-outline-primary btn-icon-text me-2 mb-2 mb-md-0"
    >
      <i class="btn-icon-prepend" data-feather="printer" appFeatherIcon></i>
      Print
    </button> -->
      <button
        type="button"
        class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0"
      >
        <i
          class="btn-icon-prepend"
          data-feather="download-cloud"
          appFeatherIcon
        ></i>
        Download Report
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-12 stretch-card">
      <div class="row flex-grow-1">
        <div class="col-md-4 grid-margin stretch-card">
          <div
            class="card"
            style="background-color: #e6f6ed; border: 1px solid #b8efd0"
          >
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Rainfall</h6>
              </div>
              <div class="row" *ngIf="rainfallPeriodTotal !== undefined">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="mb-2">{{ rainfallPeriodTotal }} mm</h3>
                  <div class="d-flex align-items-baseline">
                    <p class="text-success">
                      <i
                        data-feather="alert-octagon"
                        appFeatherIcon
                        class="icon-sm mb-1"
                      ></i>
                      <span class="fw-bold">{{ getRainfallAlertLevel() }}</span>
                    </p>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-xl-7">
                  <div class="mt-md-3 mt-xl-0">
                    <apx-chart
                      [series]="rainfallChartOptions.series"
                      [chart]="rainfallChartOptions.chart"
                      [colors]="rainfallChartOptions.colors"
                      [grid]="rainfallChartOptions.grid"
                      [xaxis]="rainfallChartOptions.xaxis"
                      [yaxis]="rainfallChartOptions.yaxis"
                      [markers]="rainfallChartOptions.markers"
                      [legend]="rainfallChartOptions.legend"
                      [stroke]="rainfallChartOptions.stroke"
                    ></apx-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
          <div
            class="card"
            style="background-color: #e6f6ed; border: 1px solid #b8efd0"
          >
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Soil Moisture</h6>
              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="mb-2">33%</h3>
                  <div class="d-flex align-items-baseline">
                    <p class="text-success">
                      <i
                        data-feather="alert-octagon"
                        appFeatherIcon
                        class="icon-sm mb-1"
                      ></i>
                      <span class="fw-bold">WC-0</span>
                    </p>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-xl-7">
                  <div class="mt-md-3 mt-xl-0">
                    <apx-chart
                      [series]="customersChartOptions.series"
                      [chart]="customersChartOptions.chart"
                      [colors]="customersChartOptions.colors"
                      [xaxis]="customersChartOptions.xaxis"
                      [stroke]="customersChartOptions.stroke"
                      [markers]="customersChartOptions.markers"
                    ></apx-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
          <div
            class="card"
            style="background-color: #e6f6ed; border: 1px solid #b8efd0"
          >
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Soil Movement</h6>
              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <h3 class="mb-2">52 mm</h3>
                  <div class="d-flex align-items-baseline">
                    <p class="text-success">
                      <i
                        data-feather="alert-octagon"
                        appFeatherIcon
                        class="icon-sm mb-1"
                      ></i>
                      <span class="fw-bold">SM-0</span>
                    </p>
                  </div>
                </div>
                <div class="col-6 col-md-12 col-xl-7">
                  <div class="mt-md-3 mt-xl-0">
                    <apx-chart
                      [series]="growthChartOptions.series"
                      [chart]="growthChartOptions.chart"
                      [colors]="growthChartOptions.colors"
                      [xaxis]="growthChartOptions.xaxis"
                      [stroke]="growthChartOptions.stroke"
                      [markers]="growthChartOptions.markers"
                    ></apx-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- row -->

  <div class="row">
    <div class="col-12 col-xl-12 grid-margin stretch-card">
      <div class="card overflow-hidden">
        <div class="card-body">
          <div
            class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3"
          >
            <h6 class="card-title mb-0">Landslide Alert Level</h6>
          </div>
          <div class="row align-items-start">
            <div class="col-md-7">
              <p class="text-muted tx-13 mb-3 mb-md-0">
                Table shows the warning alert records for the selected
                Municipality.
              </p>
            </div>
            <div class="col-md-5 d-flex justify-content-md-end">
              <div
                class="btn-group mb-3 mb-md-0"
                role="group"
                aria-label="Basic example"
              >
                <button type="button" class="btn btn-outline-primary">
                  Today
                </button>
              </div>
            </div>
          </div>
          <div class="flot-wrapper">
            <apx-chart
              [series]="monthlySalesChartOptions.series"
              [chart]="monthlySalesChartOptions.chart"
              [colors]="monthlySalesChartOptions.colors"
              [fill]="monthlySalesChartOptions.fill"
              [grid]="monthlySalesChartOptions.grid"
              [xaxis]="monthlySalesChartOptions.xaxis"
              [yaxis]="monthlySalesChartOptions.yaxis"
              [legend]="monthlySalesChartOptions.legend"
              [stroke]="monthlySalesChartOptions.stroke"
              [dataLabels]="monthlySalesChartOptions.dataLabels"
              [plotOptions]="monthlySalesChartOptions.plotOptions"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- row -->

  <div class="row">
    <div class="col-lg-5 col-xl-4 grid-margin grid-margin-xl-0 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-baseline mb-2">
            <h6 class="card-title mb-0">Inbox</h6>
            <div ngbDropdown class="mb-2">
              <button
                ngbDropdownToggle
                class="btn p-0 no-dropdown-toggle-icon"
                type="button"
                id="dropdownMenuButton6"
              >
                <i
                  class="icon-lg text-muted pb-3px"
                  data-feather="more-horizontal"
                  appFeatherIcon
                ></i>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownMenuButton6">
                <a
                  ngbDropdownItem
                  class="d-flex align-items-center"
                  href=""
                  (click)="(false)"
                  ><i
                    data-feather="eye"
                    appFeatherIcon
                    class="icon-sm me-2"
                  ></i>
                  <span class="">View</span></a
                >
                <a
                  ngbDropdownItem
                  class="d-flex align-items-center"
                  href=""
                  (click)="(false)"
                  ><i
                    data-feather="edit-2"
                    appFeatherIcon
                    class="icon-sm me-2"
                  ></i>
                  <span class="">Edit</span></a
                >
                <a
                  ngbDropdownItem
                  class="d-flex align-items-center"
                  href=""
                  (click)="(false)"
                  ><i
                    data-feather="trash"
                    appFeatherIcon
                    class="icon-sm me-2"
                  ></i>
                  <span class="">Delete</span></a
                >
                <a
                  ngbDropdownItem
                  class="d-flex align-items-center"
                  href=""
                  (click)="(false)"
                  ><i
                    data-feather="printer"
                    appFeatherIcon
                    class="icon-sm me-2"
                  ></i>
                  <span class="">Print</span></a
                >
                <a
                  ngbDropdownItem
                  class="d-flex align-items-center"
                  href=""
                  (click)="(false)"
                  ><i
                    data-feather="download"
                    appFeatherIcon
                    class="icon-sm me-2"
                  ></i>
                  <span class="">Download</span></a
                >
              </div>
            </div>
          </div>
          <div class="d-flex flex-column">
            <a
              href=""
              (click)="(false)"
              class="d-flex align-items-center border-bottom pb-3"
            >
              <div class="me-3">
                <img
                  src="https://via.placeholder.com/35x35"
                  class="rounded-circle wd-35"
                  alt="user"
                />
              </div>
              <div class="w-100">
                <div class="d-flex justify-content-between">
                  <h6 class="text-body mb-2">Leonardo Payne</h6>
                  <p class="text-muted tx-12">12.30 PM</p>
                </div>
                <p class="text-muted tx-13">Hey! there I'm available...</p>
              </div>
            </a>
            <a
              href=""
              (click)="(false)"
              class="d-flex align-items-center border-bottom py-3"
            >
              <div class="me-3">
                <img
                  src="https://via.placeholder.com/35x35"
                  class="rounded-circle wd-35"
                  alt="user"
                />
              </div>
              <div class="w-100">
                <div class="d-flex justify-content-between">
                  <h6 class="text-body mb-2">Carl Henson</h6>
                  <p class="text-muted tx-12">02.14 AM</p>
                </div>
                <p class="text-muted tx-13">I've finished it! See you so..</p>
              </div>
            </a>
            <a
              href=""
              (click)="(false)"
              class="d-flex align-items-center border-bottom py-3"
            >
              <div class="me-3">
                <img
                  src="https://via.placeholder.com/35x35"
                  class="rounded-circle wd-35"
                  alt="user"
                />
              </div>
              <div class="w-100">
                <div class="d-flex justify-content-between">
                  <h6 class="text-body mb-2">Jensen Combs</h6>
                  <p class="text-muted tx-12">08.22 PM</p>
                </div>
                <p class="text-muted tx-13">This template is awesome!</p>
              </div>
            </a>
            <a
              href=""
              (click)="(false)"
              class="d-flex align-items-center border-bottom py-3"
            >
              <div class="me-3">
                <img
                  src="https://via.placeholder.com/35x35"
                  class="rounded-circle wd-35"
                  alt="user"
                />
              </div>
              <div class="w-100">
                <div class="d-flex justify-content-between">
                  <h6 class="text-body mb-2">Amiah Burton</h6>
                  <p class="text-muted tx-12">05.49 AM</p>
                </div>
                <p class="text-muted tx-13">Nice to meet you</p>
              </div>
            </a>
            <a
              href=""
              (click)="(false)"
              class="d-flex align-items-center border-bottom py-3"
            >
              <div class="me-3">
                <img
                  src="https://via.placeholder.com/35x35"
                  class="rounded-circle wd-35"
                  alt="user"
                />
              </div>
              <div class="w-100">
                <div class="d-flex justify-content-between">
                  <h6 class="text-body mb-2">Yaretzi Mayo</h6>
                  <p class="text-muted tx-12">01.19 AM</p>
                </div>
                <p class="text-muted tx-13">Hey! there I'm available...</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-xl-8 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-baseline mb-2">
            <h6 class="card-title mb-0">Landslide Reports</h6>
          </div>
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th class="pt-0">#</th>
                  <th class="pt-0">Date & Time</th>
                  <th class="pt-0">Type</th>
                  <th class="pt-0">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>01/01/2022</td>
                  <td>Rock Fall</td>
                  <td>
                    <span class="badge bg-primary">Active</span>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>01/01/2022</td>
                  <td>Rock Fall</td>
                  <td>
                    <span class="badge bg-primary">Active</span>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>01/01/2022</td>
                  <td>Rock Fall</td>
                  <td>
                    <span class="badge bg-primary">Active</span>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>01/01/2022</td>
                  <td>Rock Fall</td>
                  <td>
                    <span class="badge bg-primary">Active</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- row -->
</ng-container>
<ng-container *ngIf="isLoading">
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-container>
