<div class="container">
    <h1>TEAM LEADS</h1>
    <hr class="line1">
    <h5>DOST-CAR, Mines and Geosciences Bureau-Cordillera, University of the Philippines Baguio, University of the
        Cordilleras, and University of Baguio work together in the implementation of the “Modelling and Understanding
        Landslide Events in BLISTT (Baguio, La Trinidad, Itogon, Sablan, Tuba, Tublay) (MULAT-BLISTT) Program”.</h5>
    <div class="card-container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <img src="/assets/images/others/team/team1.jpg" alt="" class="circular-image">
                    <h3>Dr. Dymphna Javier</h3>
                    <hr class="line">
                    <p>Project 1 Leader</p>
                    <p>University of the Philippines - Baguio</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="/assets/images/others/team/fa.webp" alt="" class="circular-image">
                    <h3>R.D. Fay Apil</h3>
                    <hr class="line">
                    <p>Project 1 Leader</p>
                    <p>DENR - Mines and Geosciences Bureau CAR</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img src="/assets/images/others/team/nvl.webp" alt="" class="circular-image">
                    <h3>Engr. Nathaniel Vincent A. Lubrica</h3>
                    <hr class="line">
                    <p>Project 2 Leader</p>
                    <p>University of the Cordilleras</p>
                </div>
            </div>
        </div>
    </div>

</div>