.card {
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
;}

.card img {
    max-width: 40%;
;    height: auto;
;}

@media (max-width: 768px) {
    .card {
        width: 40%;
        /* Set cards to full width on smaller screens */
    }
}