.bg-image-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/images/others/hero-banner-bg.webp');
    background-size: cover;
    background-position: center;
    height: 85vh;

}

.row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    color: #fff;
    text-align: center;
    margin-top: 200px;
}

.about h1 {
    margin-bottom: 20px;
}

.btn-read-more {
    border: 2px solid #fff;
    border-radius: 40px;
    background-color: transparent;
    color: #fff;
    margin-top: 150px;
    font-size: 17px;
    padding: 10px 40px;
}

.btn-read-more:hover {
    background-color: #fff;
    color: #000;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 33px;
    flex-wrap: wrap;
    margin: 40px;
}

.logos img {
    width: 100px;
    height: auto;
}

.logos img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.programs {
    background-color: #F8F9FA;
    background-size: cover;
    background-position: center;
    padding: 0px;
}

.project1 {
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
    padding: 50px;
    margin-top: 50px;
    padding: 33px;
}

.project2 {
    background-color: #F8F9FA;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    padding: 33px;
}

.team {
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    padding: 33px 33px 50px 33px;
}

.footer {
    background-color: #F9F8F9;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    padding: 0px
}

.app {
    background-color: #0F7C3F;
    border-radius: 20px;
    padding: 20px;
    margin: 100px;
    color: white;
}