<link
  href="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css"
  rel="stylesheet"
/>
<div class="map" id="map" class="match-parent"></div>

<div class="mt-5">
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(1)">
    Baguio
  </button>
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(2)">
    La Trinidad
  </button>
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(3)">
    Itogon
  </button>
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(4)">
    Sablan
  </button>
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(5)">
    Tuba
  </button>
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(6)">
    Tublay
  </button>
</div>
