<link
  href="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css"
  rel="stylesheet"
/>
<link
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.3.1/mapbox-gl-directions.css"
  rel="stylesheet"
/>
<div class="map match-parent" id="map"></div>

<div class="mt-5 d-flex">
  <div>
    <label for="exampleFormControlSelect1" class="form-label"
      >Choose an Evacuation Center</label
    >
    <select
      class="form-select"
      id="exampleFormControlSelect1"
      (change)="selectSite($event)"
    >
      <option>Select</option>
      <option *ngFor="let item of sites" [value]="item.id">
        {{ item.municipality }}
      </option>
    </select>
  </div>
</div>
