<link
  href="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css"
  rel="stylesheet"
/>
<div class="map" id="map" class="match-parent"></div>

<div class="mt-5 d-flex">
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(1)">
    Baguio - Dontogan
  </button>
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(2)">
    La Trinidad - Puguis A
  </button>
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(2)">
    La Trinidad - Puguis B
  </button>
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(3)">
    Itogon - Ampucao A
  </button>
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(3)">
    Itogon - Ampucao B
  </button>
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(4)">
    Sablan - Banangan A
  </button>
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(4)">
    Sablan - Banangan B
  </button>
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(5)">
    Tuba - Camp 3 A
  </button>
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(5)">
    Tuba - Camp 3 B
  </button>
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(6)">
    Tublay - Ambassador A
  </button>
  <button class="mx-2 btn btn-outline-primary" (click)="selectSite(6)">
    Tublay - Ambassador B
  </button>
</div>
