<div class="container">
    <h1>GALLERY</h1>
    <hr class="line">
    <div class="filter-buttons text-center">
        <button class="btn btn-transparent" (click)="filterImages('all')"
            [ngClass]="{ 'selected': filter === 'all' }">ALL</button>
        <button class="btn btn-transparent" (click)="filterImages('Training')"
            [ngClass]="{ 'selected': filter === 'Training' }">TRAINING</button>
        <button class="btn btn-transparent" (click)="filterImages('Partnership')"
            [ngClass]="{ 'selected': filter === 'Partnership' }">PARTNERSHIP</button>
        <button class="btn btn-transparent" (click)="filterImages('Fieldwork')"
            [ngClass]="{ 'selected': filter === 'Fieldwork' }">FIELDWORK</button>
    </div>
    <!-- <div class="image-gallery">
        <div class="row">
            <div class="col-md-3" *ngFor="let image of filteredImages; let i = index">
                <div class="image-container">
                    <img [src]="image.src" [alt]="image.alt">
                    <div class="alt-text">{{ image.alt }}</div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="image-gallery">
        <div class="row">
            <div class="col-md-3" *ngFor="let image of filteredImages; let i = index">
                <div class="image-container" (click)="openLightbox(i)">
                    <img [src]="image.src" [alt]="image.alt">
                    <div class="alt-text">
                        <div class="category">{{ image.category }}</div>
                        <div class="image-alt">{{ image.alt }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <!-- <div class="image-gallery">
        <div class="row">
            <div class="col-md-3" *ngFor="let image of filteredImages">
                <img [src]="image.src"  [lightbox]="filteredImages" [alt]="image.alt" [attr.data-category]="image.category">
            </div>
        </div>
    </div> -->
</div>