<div class="bg-image-container" id="home">
    <div class="row">
        <app-top-nav [title]="'Header'" (scrollToSection)="onScrollToSection($event)"></app-top-nav>
        <div class="about">

            <img src="/assets/images/others/logos/calamit-logo.webp" alt="calamit-logo">
            <h1>Project 1</h1>
            <h5>MODELLING SUSCEPTIBILITY AND GENERATING RAINFALL-THRESHOLD FOR RAINFALL-INDUCED LANDSLIDE</h5>
        </div>
    </div>

</div>
<div class="container lg ">
    <div class="logos">
        <img src="/assets/images/others/logos/upb-logo.webp" alt="upb-logo">
        <img src="/assets/images/others/logos/mgb-logo.webp" alt="mgb-logo">
        <img src="/assets/images/others/logos/uc-logo.webp" alt="uc-logo">
        <img src="/assets/images/others/logos/ub-logo.webp" alt="ub-logo">
        <img src="/assets/images/others/logos/dost-logo.png" alt="dost-logo">
        <img src="/assets/images/others/logos/pcieerd.png" alt="pcieerd-logo">
        <img src="/assets/images/others/logos/blistt-logo.webp" alt="blisst-logo">

    </div>
</div>

<div class="overview" id="about">
    <app-overview></app-overview>
</div>
<div class="goals">
    <app-goals></app-goals>
</div>
<div class="gallery">
    <app-gallery></app-gallery>
</div>
<div class="team" id="team">
    <app-project1-team></app-project1-team>
</div>




<app-footer></app-footer>