<div class="container" id="about">
    <div class="container-program">
        <div class="col-lg-6">
            <h1>MULAT-BLISTT RESEARCH PROGRAM</h1>
            <hr class="line">
            <h5>Monitored by DOST-PCIEERD and funded by DOST.
            </h5>
            <p>The research program was designed to produce up-to-date, high resolution information on Rainfall-Induced
                Landslides (RIL) in order to lower and prevent risks and losses in lives, livelihoods, health, community
                assets,
                and environmental quality. It was also intended to provide information for policies for early warning,
                evacuation,
                and development planning. Its goals are to support disaster mitigation and to strengthen disaster
                resilience.
            </p>
        </div>
        <div class="col-lg-6">
            <hr>
            <p> <i class="feather icon-arrow-right-circle icon-lg"></i> Project 1:</p>
            <p>Modelling Susceptibility and Generating Rainfall-Threshold for Rainfall-Induced Landslide</p>
            <p> <i class="feather icon-arrow-right-circle icon-lg"></i> Project 2:</p>
            <p>CALAMI-T - Cordillera Administrative LAndslide Monitoring Integrated Toolbox</p>

            <p>The MULAT-BLISTT research program is a two-part collaboration of the the (UP-Baguio) University of the
                Philippines Baguio-(MGB-CAR) Mines and Geosciences Bureau-CAR, (UC) University of the Cordilleras-(UB)
                University of Baguio, (DOST-CAR) Department of Science and Technology - Cordillera Administrative
                Region, and
                (DOST-PCIEERD) Department of Science and Technology Philippine Council for Industry, Energy, Emerging
                Technology
                Research & Development.</p>
        </div>
    </div>
</div>