<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-4">
            <h1>Project 2</h1>
            <hr class="line">
            <h4>CALaMI-T - Cordillera Administrative Landslide Monitoring Integrated Toolbox</h4>
            <p>Project CALaMI-T is a landslide mitigation researc and development for BLISTT. It aims to develop a
                landslide movement model toolbox that can predict landslides and provide information on the impact of
                rain-induced landslides on communities, infrastructure, and the environment.

                It is the Project 2 under the Program MULAT BLISTT: Modelling and Understanding LAndslide evenTs in
                Baguio-La Trinidad-Itogon-Sablan-Tuba-Tublay.</p>
            <div class="btn-container">
                <button class="btn btn-transparent btn-read-more" (click)="navigateToProject2Page()">Read more</button>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="col align-items-center">
                <!-- Top row with two cards -->
                <div class="top-row">
                    <div class="card">
                        <div class="icon-container">
                            <i class="feather icon-file-text icon-lg"></i>
                        </div>
                        <h3>Soil Moisture Threshold</h3>
                        <p>Determine soil moisture threshold values and other parameters for landslide.</p>
                    </div>
                    <div class="card">
                        <div class="icon-container">
                            <i class="feather icon-file-text icon-lg"></i>
                        </div>
                        <h3>Landslide Movement Model Toolbox Software</h3>
                        <p>Develop or adopt a suitable landslide movement model toolbox software.</p>
                    </div>
                    <div class="card">
                        <div class="icon-container">
                            <i class="feather icon-cloud-rain icon-lg"></i>
                        </div>
                        <h3>Landsilde Management Information System</h3>
                        <p>Develop and testing of a landslde management information system.</p>
                    </div>
                </div>

                <!-- Bottom row with three cards -->
                <div class="bottom-row">

                    <div class="card">
                        <div class="icon-container">
                            <i class="feather icon-triangle icon-lg"></i>
                        </div>
                        <h3>Mobile Application for Landslide</h3>
                        <p>Develop a mobile application for landslide warning and awareness, reporting and routing to
                            evacuation areas or safe spots.</p>
                    </div>
                    <div class="card">
                        <div class="icon-container">
                            <i class="feather icon-edit-3 icon-lg"></i>
                        </div>
                        <h3>Early Warning System</h3>
                        <p>Develop a Web and SMS based early warning system with DRRMO Operation Center Dashboard..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>