<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-4">
            <h1>Project 2</h1>
            <h4>CALaMI-T - Cordillera Administrative Landslide Monitoring Integrated Toolbox</h4>
            <p>Project CALaMI-T is a landslide mitigation researc and development for BLISTT. It aims to develop a
                landslide movement model toolbox that can predict landslides and provide information on the impact of
                rain-induced landslides on communities, infrastructure, and the environment.

                It is the Project 2 under the Program MULAT BLISTT: Modelling and Understanding LAndslide evenTs in
                Baguio-La Trinidad-Itogon-Sablan-Tuba-Tublay.</p>
            <div class="div">
                <button class="btn btn-transparent btn-read-more">Read more</button>
            </div>
        </div>
        <div class="col-lg-8">
            <!-- Top row with two cards -->
            <div class="top-row">
                <div class="card"><i class="feather icon-file-text icon-lg"></i>
                    <h2>Soil Moisture Threshold</h2>
                    <p>Determine soil moisture threshold values and other parameters for landslide.</p>
                </div>
                <div class="card"><i class="feather icon-file-text icon-lg"></i>
                    <h2>Landslide Movement Model Toolbox Software</h2>
                    <p>Develop or adopt a suitable landslide movement model toolbox software.
                    </p>
                </div>
                <div class="card"><i class="feather icon-cloud-rain icon-lg"></i>
                    <h2>Landsilde Management Information System</h2>
                    <p>Develop and testing of a landslde management information system.
                    </p>
                </div>
            </div>

            <!-- Bottom row with three cards -->
            <div class="bottom-row">
                <div class="card"><i class="feather icon-triangle icon-lg"></i>
                    <h2>Mobile Application for Landslide</h2>
                    <p>Develop a mobile application for landslide warning and awareness, reporting and routing to
                        evacuation areas or safe spots.
                    </p>
                </div>
                <div class="card"><i class="feather icon-edit-3 icon-lg"></i>
                    <h2>Early Warning System</h2>
                    <p>Develop a Web and SMS based early warning system with DRRMO Operation Center Dashboard.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>