.bg-image-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/images/others/hero-banner-bg.webp');
    background-size: cover;
    background-position: center;
    max-height: 100vh;
    overflow: auto;

}

.container {
    height: auto;
    min-height: 100vh;
    margin-top: 150px;
}

.card-title {
    font-size: x-large;
    font-weight: 800;
    padding-bottom: 20px;
}

.letters-container {
    display: flex;
    justify-content: space-around;

}

.letters-container button {
    flex-grow: 1;
    text-align: center;
    border: 1px solid grey;
    border-radius: 6px;
    margin: 0 4px
}

.card {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}