.footer{
    padding: 33px;
    background-color: #F1F0F2;
    text-align: center;
}
.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links a {
    display: block;
    padding: 8px 0;
    position: relative;
    color: #333; /* Default text color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Add transition effect for color */
}

.nav-links a:hover {
    color: #996D3F; /* Change text color on hover */
}
.nav-links i{
    font-size: 17px;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-top: 20px;
}

.social-icons i {
    font-size: 25px;
    color: #333;
}


