<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h2>MULAT-BLISTT</h2>
            <p>Baguio, Benguet</p>
            <p>Cordillera Administrative Region</p>
            <p>Philippines</p>
        </div>
        <div class="col-lg-3">
            <h4>Contact Us</h4>
            <ul>
                <li>+63 949 974 8861</li>
                <li>+63 74 442 3316 loc. 304</li>
                <li>pmulat-blistt@up.edu.ph</li>
                <li>calami-t.rso@uc-bcf.edu.ph</li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h4>Useful Links</h4>
            <div class="nav-links">
                <a (click)="navigateToHome()"><i class="feather icon-arrow-right icon-lg"></i>Home</a>
                <a (click)="onClickScrollTo('about')"><i class="feather icon-arrow-right icon-lg"></i>ABOUT THE
                    PROGRAM</a>
                <a (click)="navigateToProject1Page()"><i class="feather icon-arrow-right icon-lg"></i>PROJECT 1</a>
                <a (click)="navigateToProject2Page()"><i class="feather icon-arrow-right icon-lg"></i>PROJECT 2</a>
                <a (click)="onClickScrollTo('team')"><i class="feather icon-arrow-right icon-lg"></i>TEAM</a>

            </div>

        </div>
        <div class="col-lg-3">
            <h4>Our Social Networks</h4>
            <div class="social-icons">
                <i class="feather icon-instagram"></i>
                <i class="feather icon-facebook"></i>
                <i class="feather icon-twitter"></i>
                <i class="feather icon-linkedin"></i>
            </div>
        </div>
        
    </div>
</div>
<div class="footer">
    <p>© Copyright MULAT-BLISTT. All Rights Reserved</p>
</div>