<div class="header" [class.scrolled]="isScrolled">
    <nav class="sticky-nav">
        <ul class="nav-list">            
            <!-- <h3><a (click)="navigateToHome()">MULAT-BLISST</a></h3> -->
            
            <button class="home-btn" (click)="navigateToHome()">MULAT-BLISST</button>
            <div class="nav-links">
                <li><a (click)="navigateToHome()">HOME</a></li>
                <li><a (click)="onClickScrollTo('about')">ABOUT THE PROGRAM</a></li>
                <li><a (click)="navigateToProject1Page()">PROJECT 1</a></li>
                <li><a (click)="navigateToProject2Page()">PROJECT 2</a></li>
                <li><a (click)="onClickScrollTo('team')">TEAM</a></li>
              

                <li class="login-btn"><a routerLink="/login">LOG IN</a></li>
            </div>
        </ul>
    </nav>
</div>