<div class="overview-section animate-fade-in">
  <div class="overview-row row align-items-center">
    <div class="col-lg-6 align-self-start overview-text">
      <h1 class="overview-title animate-slide-up">PROJECT OVERVIEW</h1>
      <hr class="line" />
      <p>
        One of the most exposed areas to rainfall-induced landslides is the
        BLISTT area of the Cordillera Administrative Region, which experienced
        nine out of ten of the country's greatest 24-hour rainfall totals during
        tropical cyclones.<br /><br />
        In order to address this issue, the MULAT-BLISTT program was conceived
        to collect, collate, and systematically organize available landslide
        data into a database, integrate available landslide data into a
        Geographic Information System (GIS), identify the influential factors of
        landslides, generate landslide susceptibility maps, identify rainfall
        patterns prior to landslide occurrence, document indigenous knowledge
        associated with landslides, and generate indicative rainfall thresholds
        for possible use in an early warning system.<br /><br />
        The MULAT-BLISTT, which stands for Modelling and Understanding Landslide
        Events in BLISTT (Baguio, La Trinidad, Itogon, Sablan, Tuba, Tublay), is
        a research program funded by the DOST-PCIEERD. The program's objective
        is to increase disaster resilience in accordance with R.A. 10121, the
        "Philippine Disaster Risk Reduction and Management Act of 2010," and the
        UN 2030 Sustainable Development Goal.
      </p>
    </div>
    <div class="col-lg-6 overview-visual">
      <div class="video animate-slide-up animate-delay-1">
        <iframe
          src="https://www.youtube.com/embed/sVPYIRF9RCQ?autoplay=0"
          title="THE SEED // Inspirational Short Film"
          frameborder="0"
          width="100%"
          height="350"
          style="max-width: 100%; display: block; margin: 0 auto"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        >
          Your browser does not support iframes.
        </iframe>
      </div>
    </div>
  </div>
</div>
