<div class="container">
    <h1>GALLERY</h1>
    <hr class="line">
    <div class="filter-buttons text-center">
        <button class="btn btn-transparent btn" (click)="filterImages('all')"
            [ngClass]="{ 'selected': filter === 'all' }">All</button>
        <button class="btn btn-transparent btn" (click)="filterImages('m')"
            [ngClass]="{ 'selected': filter === 'm' }">Meeting</button>
        <button class="btn btn-transparent btn" (click)="filterImages('t')"
            [ngClass]="{ 'selected': filter === 't' }">Trainings</button>
        <button class="btn btn-transparent btn" (click)="filterImages('s')"
            [ngClass]="{ 'selected': filter === 's' }">Sites</button>
        <button class="btn btn-transparent btn" (click)="filterImages('f')"
            [ngClass]="{ 'selected': filter === 'f' }">Fieldworks</button>
    </div>
    <div class="image-gallery">
        <div class="row">
            <div class="col-md-3" *ngFor="let image of filteredImages">
                <img [src]="image.src" [alt]="image.alt" [attr.data-category]="image.category">
            </div>
        </div>
    </div>
</div>