<div class="container">
    <h1>GALLERY</h1>
    <hr class="line">
    <div class="filter-buttons text-center">
        <button class="btn btn-transparent btn" (click)="filterImages('all')"
            [ngClass]="{ 'selected': filter === 'all' }">All</button>
        <button class="btn btn-transparent btn" (click)="filterImages('Meeting')"
            [ngClass]="{ 'selected': filter === 'Meeting' }">Meeting</button>
        <button class="btn btn-transparent btn" (click)="filterImages('Training')"
            [ngClass]="{ 'selected': filter === 'Training' }">Trainings</button>
        <button class="btn btn-transparent btn" (click)="filterImages('Site')"
            [ngClass]="{ 'selected': filter === 'Site' }">Sites</button>
        <button class="btn btn-transparent btn" (click)="filterImages('Fieldwork')"
            [ngClass]="{ 'selected': filter === 'Fieldwork' }">Fieldworks</button>
    </div>
    <div class="image-gallery">
        <div class="row">
            <div class="col-md-3" *ngFor="let image of filteredImages; let i = index">
                <div class="image-container" (click)="openLightbox(i)">
                    <img [src]="image.src" [alt]="image.alt">
                    <div class="alt-text">
                        <div class="category">{{ image.category }}</div>
                        <div class="image-alt">{{ image.alt }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>