<footer class="landing-footer">
  <div class="footer-container">
    <div class="footer-logos">
      <img src="/assets/images/others/logos/upb-logo.webp" alt="UPB Logo" title="University of the Philippines Baguio" />
      <img src="/assets/images/others/logos/mgb-logo.webp" alt="MGB Logo" title="Mines and Geosciences Bureau" />
      <img src="/assets/images/others/logos/uc-logo.webp" alt="UC Logo" title="University of the Cordilleras" />
      <img src="/assets/images/others/logos/ub-logo.webp" alt="UB Logo" title="University of Baguio" />
      <img src="/assets/images/others/logos/dost-logo.png" alt="DOST Logo" title="Department of Science and Technology" />
      <img src="/assets/images/others/logos/pcieerd.png" alt="PCIEERD Logo" title="PCIEERD" />
      <img src="/assets/images/others/logos/blistt-logo.webp" alt="BLISTT Logo" title="BLISTT" />
    </div>
    <div class="footer-main-row">
      <div class="footer-col">
        <h2>MULAT-BLISTT</h2>
        <p>Baguio, Benguet</p>
        <p>Cordillera Administrative Region</p>
        <p>Philippines</p>
      </div>
      <div class="footer-divider" aria-hidden="true"></div>
      <div class="footer-col">
        <h4>Contact Us</h4>
        <ul>
          <li>+63 949 974 8861</li>
          <li>+63 74 442 3316 loc. 304</li>
          <li><a href="mailto:pmulat-blistt@up.edu.ph">pmulat-blistt@up.edu.ph</a></li>
          <li><a href="mailto:calami-t.rso@uc-bcf.edu.ph">calami-t.rso@uc-bcf.edu.ph</a></li>
        </ul>
      </div>
      <div class="footer-divider" aria-hidden="true"></div>
      <div class="footer-col">
        <h4>Our Social Networks</h4>
        <div class="social-icons">
          <i class="feather icon-instagram"></i>
          <i class="feather icon-facebook"></i>
          <i class="feather icon-twitter"></i>
          <i class="feather icon-linkedin"></i>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      &copy; {{ currentYear }} MULAT-BLISTT. All Rights Reserved
    </div>
  </div>
</footer>
