<footer class="landing-footer">
  <div class="footer-container">
    <div class="footer-logos">
      <img src="/assets/images/others/logos/upb-logo.webp" alt="UPB Logo" title="University of the Philippines Baguio" />
      <img src="/assets/images/others/logos/mgb-logo.webp" alt="MGB Logo" title="Mines and Geosciences Bureau" />
      <img src="/assets/images/others/logos/uc-logo.webp" alt="UC Logo" title="University of the Cordilleras" />
      <img src="/assets/images/others/logos/ub-logo.webp" alt="UB Logo" title="University of Baguio" />
      <img src="/assets/images/others/logos/dost-logo.png" alt="DOST Logo" title="Department of Science and Technology" />
      <img src="/assets/images/others/logos/pcieerd.png" alt="PCIEERD Logo" title="PCIEERD" />
      <img src="/assets/images/others/logos/blistt-logo.webp" alt="BLISTT Logo" title="BLISTT" />
    </div>
    <div class="footer-main-row">
      <div class="footer-col">
        <h2>MULAT-BLISTT</h2>
        <p>Baguio, Benguet</p>
        <p>Cordillera Administrative Region</p>
        <p>Philippines</p>
      </div>
      <div class="footer-divider" aria-hidden="true"></div>
      <div class="footer-col">
        <h4>Contact Us</h4>
        <ul>
          <li>+63 949 974 8861</li>
          <li>+63 974 442 3316 </li>
          <li><a href="mailto:pmulat-blistt&#64;up.edu.ph">pmulat-blistt&#64;up.edu.ph</a></li>
          <li><a href="mailto:calami-t.rso&#64;uc-bcf.edu.ph">calami-t.rso&#64;uc-bcf.edu.ph</a></li>
        </ul>
      </div>
      <div class="footer-divider" aria-hidden="true"></div>
      <div class="footer-col">
        <h4>Our Social Networks</h4>
        <div class="footer-social-links">
          <a href="https://www.facebook.com/project2.calamit" target="_blank" rel="noopener" aria-label="Facebook">
            <svg width="28" height="28" fill="currentColor" viewBox="0 0 24 24"><path d="M22.675 0h-21.35C.595 0 0 .592 0 1.326v21.348C0 23.408.595 24 1.325 24h11.495v-9.294H9.692v-3.622h3.128V8.413c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.797.143v3.24l-1.918.001c-1.504 0-1.797.715-1.797 1.763v2.313h3.587l-.467 3.622h-3.12V24h6.116c.73 0 1.325-.592 1.325-1.326V1.326C24 .592 23.405 0 22.675 0"></path></svg>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      &copy; {{ currentYear }} MULAT-BLISTT. All Rights Reserved
    </div>
  </div>
</footer>
